.circular-progress {
  width: 150px;
  height: 150px;
  position: relative;
  margin-top: 20px;
}

.circular-progress .background-circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 10px solid #424141; 
  position: absolute;
  top: 0;
  left: 0;
}

.circular-progress .circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top-color: #7dc776; 
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg);
  transform-origin: center;
  transition: stroke-dashoffset 0.5s, border-top-color 2s;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.circular-progress.active .circle {
  border-top-color: #00ff00; 
}